/*  */
body { z-index: -100; }
#eyecatcher {
    /* background-color: rgb(7, 10, 25);linear-gradient(to right, red, yellow); rgb(9, 5, 20), rgb(7, 10, 25)); */
    background-image: linear-gradient(to bottom, rgb(7, 10, 25), rgb(8, 7, 25) 80%, rgb(20, 18, 63));
    color: white;
    width: 100%;
    height: 800px;
    padding-top: 60px;
}
#eyecatcher > * {
    position: absolute;
}
#eyecatcher h1 {
    font-size: 120px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-style: italic;
    text-shadow: 3px 3px 3px #ff4951/*#ee4266*/ /*rgb(100, 100, 100)*/;
    letter-spacing: 5px;
}

#eyecatcher-background {
    height: 800px;
    width: 100%;
    filter: drop-shadow(3px 3px 3px cornflowerblue);
    z-index: 1;

    /* user-drag: none;  */
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
#brain {
    z-index: 2;
    right: 100px;
    top: 250px;
}

#rain {
    z-index: 1;
    right: 50px;
    top: 320px;
}
#num {
    color: #ff4951;
    font-family: 'Montserrat';
    font-weight: 700;
    font-style: italic;
    font-size: 50px;
    text-shadow: 3px 3px 3px white;
    right: 300px;
    top: 430px;
}

#eyecatcher-logo {
    height: 200px;
    right: 390px;
    top: 260px;
    background-image: url(../img/burton.gif);
    background-size: cover;
}

/* #welcome-text */
#welcome-text-wrapper {
    z-index: 3;
    width: 33%;
    margin: 30px 0 0 70px;
}
#welcome-text h1 {
    color: #ff4951;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-size: 40px;
    letter-spacing: -3px;
    text-shadow: none;
    animation: none;
}
#welcome-text p {
    font-family: 'Zilla Slab', monospace;
    font-size: 20px;
    font-weight: 400;
    color: rgb(165, 165, 165);

    padding: 10px 0 15px 0;
}
#welcome-text button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    box-shadow: 3px 3px 3px rgb(165, 165, 165);
}
@keyframes button-hover { 
    from { 
        box-shadow: 3px 3px 3px rgb(165, 165, 165); 
    } to { 
        box-shadow: 6px 6px 6px rgb(165, 165, 165); 
    } 
}
#welcome-text button:hover { 
    box-shadow: 6px 6px 6px rgb(165, 165, 165); 
    animation: button-hover 100ms ease-in-out;
}
#welcome-text button:nth-of-type(1) {    
    background-image: linear-gradient(135deg, red, #ff4951);
    margin-right: 5px;
}
#welcome-text button:nth-of-type(2) { background-image: linear-gradient(135deg, cornflowerblue, rgb(20, 18, 63)); }
#welcome-text-wave { display: none; }

/* Bubbles */
@keyframes bubble-up {
    0% {
        bottom: /*50px*/ 10%;
        opacity: 0;
    } 85% {
        bottom: /* calc(0.85 * 750px) */ 85%;
        opacity: 1;
    } 100% {
        bottom: /*750px*/ 90%;
        opacity: 0;
    }
}
.bubble {
    position: absolute;
    z-index: 0;
    filter: drop-shadow(3px 3px 3px cornflowerblue);
}


/*** MIDDLE PART ***/
#main {
    background-image: linear-gradient(to bottom, rgb(20, 18, 63), rgb(20, 18, 63) 70%, rgb(7, 10, 25));
    width: 100%; 
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}
#main > div {
    margin: auto;
    width: calc(100% - 100px);
}

#main > div > div {
    display: inline-block;
    color: white;
    background-color: black;
    text-align: center;
    width: 17%;

    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    letter-spacing: -2px;
    text-shadow: 2px 2px 2px black;
    background-size: cover;
    height: 500px;

    vertical-align: middle;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 20px;
}

@keyframes blur-section { from { filter: blur(0px); } to { filter: blur(5px); } }
@keyframes section-jump { from { margin-top: 20px; } to { margin-top: 0px; } }

.section-blurred { 
    filter: blur(5px); 
    animation: blur-section 100ms ease-in-out forwards;
}
#main > div > div:hover {
    margin-top: 0px;
    animation: section-jump 100ms ease-in-out forwards;
}

#main div h1 {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
/* if the 5 divisions have 17% width, the 
   4 margins have to have (100% - 5 * 17%) / 4 */
#design {
    background-image: url(../img/alena-aenami-lines1k.jpg);
}
#drawings {
    margin: 0 calc((100% - 5 * 17%) / 4);
    background-image: url(../img/alena-aenami-7p-m-1k.jpg);
}
#illustration {
    margin-left: calc((100% - 5 * 17%) / 4);
    background-image: url(../img/alena-aenami-aenami-lunar.jpg);
}
#photography {
    margin-right: calc((100% - 5 * 17%) / 4);
    background-image: url(../img/alena-aenami-quiet-1px.jpg);
}
#writing {
    background-image: url(../img/alena-aenami-cold-1k.jpg);
}
