#pics-main {
    margin: 0 auto 20px auto;
    width: calc(100% - 100px);
    font-family: 'Trebuchet MS', sans-serif;
}

.row {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  
    /*background-color: brown;*/
}

.pic-3, .pic-2, .pic-1 {
    display: inline-block;
    width: 32%;

    position: relative;
    background-image: url('../img/cube.gif');
    background-size: cover;
    text-shadow: 0px 0px 5px black;
    box-shadow: 5px 5px 20px 0px black;
    border-radius: 4px;
    cursor: pointer;
}
.pic-3:first-child, .pic-2:first-child {
    margin-right: calc((100% - 3 * 32%) / 2);
}

.pic-3:last-child {
    margin-left: calc((100% - 3 * 32%) / 2);
}

.pic-1 *, .pic-2 *, .pic-3 * {
    display: block;
    text-align: center;
}
.pic-1 h1, .pic-2 h1, .pic-3 h1 {
    margin: 65px 0 15px 0;
    color: white;

}
.pic-1 p, .pic-2 p, .pic-3 p {
    margin: 0 0 65px 0;
    color: white;
}
.text-background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    overflow: hidden;
    background-size: cover;
}

/* everything concerned with the image preview */
#currently-shown {
    height: calc(98%);
    width: calc(98%);
    margin: 10px 1% 0 1%;
    z-index: 2;
    position: absolute;
    /*background-color: rgba(20, 20, 20, 0.8);*/
    border-radius: 10px;
}
#cross {
    float: right;
    height: 40px;
    margin: 10px 10px 0 0;
    cursor: pointer;
    filter: drop-shadow(8px 8px 5px black);
}
#main-pic-container {
    height: calc(100% - (30px + 10px + 10px + 100px)); /* margin and height of the cross + 10px*/
    width: 100%;
    /*margin-top: 10px; /* cross height + margins */
    display: flex;
    align-content: center;
}

#the-main-pic {
    height: 90%;
    margin: auto;
    border-radius: 3px;
}
@keyframes disappearAnimation {
    from { opacity: 1; } to { opacity: 0; }
}
@keyframes appearAnimation {
    from { opacity: 0; } to { opacity: 1; }
}
.hide {
    display: none;
    opacity: 0;
}
.disappearing {
    opacity: 0;
    animation-name: disappearAnimation;
    animation-duration: 300ms;
}
.appearing {
    opacity: 1;
    animation-name: appearAnimation;
    animation-duration: 300ms;
}
@keyframes blurAnimation {
    from { 
        filter: blur(0px); 
    } to { 
        filter: blur(20px); 
    }
}
@keyframes unblurAnimation {
    from { 
        filter: blur(20px); 
    } to { 
        filter: blur(0px); 
    }
}
.blur {
    filter: blur(20px);
    animation-name: blurAnimation;
    animation-duration: 300ms;
}
.unblur {
    filter: blur(0px);
    animation-name: unblurAnimation;
    animation-duration: 300ms;
}



#curr-pic-info-wrapper {
    text-align: center;
    margin-bottom: 50px;
}
.arrow {
    /*height: 140px;*/
    float: right;
    cursor: pointer;
    filter: drop-shadow(5px 5px 3px black);
    margin: 0 2%;
}
.arrow:first-child {
    float: left;
}
#curr-pic-info {
    background-color: white;
    width: 61.8%;
    margin: 0 auto;
    font-family: 'Trebuchet MS';
    border-radius: 80px;
    text-align: center;
    filter: drop-shadow(5px 5px 6px black);
}
#curr-pic-info p {
    width: 61.8%;
    text-align: left;
    display: inline-block;
    margin: 0 0 10px 0;
}
#curr-pic-info h1 {
    font-family: 'Trebuchet MS', sans-serif;
    padding: 10px 0;
    display: block;
    color: rgb(64, 130, 53);
}
/* TITEL und DATUM NUR IN KLEIN; NUR TEXT BEI GROSSER ANZEIGE*/