#pics-main {
    margin: 0 auto 20px auto;
    width: calc(100% - 100px);
    font-family: 'Trebuchet MS', sans-serif;
}

.row {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  
    background-color: brown;
}

.pic-3, .pic-2, .pic-1 {
    display: inline-block;
    width: 32%;

    position: relative;
    background-image: url('../img/cube.gif');
    background-size: cover;
    text-shadow: 0px 0px 5px #000;
}
.pic-3:first-child, .pic-2:first-child {
    margin-right: calc((100% - 3 * 32%) / 2);
}

.pic-3:last-child {
    margin-left: calc((100% - 3 * 32%) / 2);
}

.pic-1 *, .pic-2 *, .pic-3 * {
    display: block;
    text-align: center;
}
.pic-1 h1, .pic-2 h1, .pic-3 h1 {
    margin: 65px 0 15px 0;
    color: white;

}
.pic-1 p, .pic-2 p, .pic-3 p {
    margin: 0 0 65px 0;
    color: white;
}
.text-background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    overflow: hidden;
    background-size: cover;
}

#currently-shown {
    height: calc(98%);
    width: calc(98%);
    margin: 0 1% 0 1%;
    z-index: 2;
    position: absolute;
    background-color: rgba(100, 200, 200, 0.75);
    border-radius: 10px;
}
#currently-shown div {
    display: block;
}
#cross {
    float: right;
    height: 30px;
    margin: 10px 10px 0 0;
}
#currently-shown div {
    height: calc(100% - (30px + 10px + 10px)); /* margin and height of the cross + 10px*/
    width: 100%;
    margin-top: 50px; /* cross height + margins */
}
.arrow {
    height: 100px;
    margin: calc(50% - (100px / 2)) 10px 10px 10px;
    float: right;
}
.arrow:first-child {
    float: left;
}

#the-main-pic {
    height: 200px;
    margin: auto;
}
