/* This stylesheet contains all rules that apply to all sites */

a {
    color: black;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
* {
    margin: 0;
}
/*** FIRST LINE HEADER ***/
header {
    display: flex;
    flex-direction: column;
    justify-content: center;

    color: black;
    width: 100%;
    position: fixed;
    background-color: white;
    z-index: 9;



    /* height: 45px; */
}
.at-top {
    height: 60px;
    animation: back-at-top 100ms ease-in-out;
    box-shadow: 0px 0px 0px black;
}
.not-at-top {
    height: 45px;
    animation: away-from-top 100ms ease-in-out;    
    box-shadow: 6px 6px 6px rgba(165, 165, 165, 0.5)
}
@keyframes back-at-top { 
    from { 
        height: 45px; 
        box-shadow: 6px 6px 6px rgba(165, 165, 165, 0.5)
    } to { 
        height: 60px;
        box-shadow: 0px 0px 0px black;
    } 
}
@keyframes away-from-top { 
    from {
        height: 60px;
        box-shadow: 6px 6px 6px rgba(165, 165, 165, 0.5)
    } to { 
        height: 45px;
        box-shadow: 0px 0px 0px black;
    } 
}
header div:first-of-type {
    /* background-color: red; */
    /* keeps the margin left and right */
    width: calc(100% - 100px);
    margin: auto;

    /* vertical-align: middle; */
    
}
#headerlogo {
    /* background-color: burlywood; */
    margin: 0;
    padding: 5px 5px 5px 0;
    display: inline-flex;
    width: 25%;
}
#headerlogo > * {
    display: inline-flex;
}
#headerlogo > img {
    height: 30px;
    margin-right: 5px;

    /* filter: drop-shadow(3px 3px 3px #ff4951); */
}
#headerlogo h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 25px;
    border-bottom: 2px solid #ff4951;
    border-top: 2px solid #ff4951;
}

header div:nth-child(2) {
    display: inline-flex;
    /* background-color: goldenrod; */
    float: right;
    vertical-align: middle;
    margin-top: 7px;
    font-size: 20px;
}
#header-options {
    /* background-color: white; */
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-size: 14px;
    letter-spacing: -1px;

    margin: 0 20px 0 0;
    width: calc(100% - 25px);

    border-right: 2px solid black;
    padding-right: 40px;
}
#header-options p {
    display: inline;
    padding-top: 3px;
    vertical-align: middle;
    margin-left: 40px;
    cursor: pointer;
    color: rgb(165, 165, 165);
}
.current-option { 
    border-bottom: 2px solid #ff4951; 
    color: black !important;
}
#header-options p span { z-index: 0; }
header div:nth-child(2) img {
    height: 15px;
    cursor: pointer;

    background-image: linear-gradient(135deg, cornflowerblue, rgb(33, 29, 119));
    padding: 5px;
    border-radius: 100%;
    margin-left: 20px;

    box-shadow: 3px 3px 3px rgb(165, 165, 165);
}
@keyframes menu-hover { from { box-shadow: 3px 3px 3px rgb(165, 165, 165); } to { box-shadow: 5px 5px 5px rgb(165, 165, 165); } }
header div:nth-child(2) img:hover { 
    box-shadow: 5px 5px 5px rgb(165, 165, 165);
    animation: menu-hover 100ms linear;
}


/*** FOOTER ***/
footer, footer a {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: -1px;
    text-align: center;
    background-color: rgb(7, 10, 25);
    color: white;
    padding-top: 20px;
}
footer img {
    height: 50px;
    background-color: white;
    border-radius: 25px;
    margin: 5px;
    box-shadow: 0px 0px 10px cornflowerblue;
}
footer div p {
    display: inline-block;
    padding: 10px 3%;
    margin-top: 5px;
    border-top: 1px solid white;    
}
#facebook:hover {
    background-color: #3b5998;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}
#instagram:hover {
    background-color: #dd2a7b;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}
#twitter:hover {
    background-color: #1da1f2;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}
#youtube:hover {
    background-color: #ff0000;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}
#love {
    color: red;
    box-shadow: 1px 4px 10px cornflowerblue;
}
#madewith {
    float: right;
    margin: 0 0.5% 0 0;
    border: none;
    padding: 10px 0;
    width: 168px;
}
#madewith img {
    border-radius: 0;
    background-color: inherit;
    display: inline;
    height: 12px;
    margin: 0;
}
#madewith-pushback {
    float: left;
    margin: 0 0 0.5% 0;
    border: none;
    padding: 10px 0;
    width: 168px;
}



/*** MIDDLE PART ***/
#main {
    background-image: linear-gradient(to bottom, rgb(20, 18, 63), rgb(20, 18, 63) 70%, rgb(7, 10, 25));
    /* width: calc(100% - 100px); */
    width: 100%; 
    /* später dann die 5 Spalten ein calc(100% - 100px) setzen */
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}
#main > div {
    /* background-color: yellowgreen; */
    margin: auto;
    width: calc(100% - 100px);
}

#main > div > div {
    display: inline-block;
    color: white;
    background-color: black;
    text-align: center;
    width: 17%;

    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    letter-spacing: -2px;
    text-shadow: 2px 2px 2px black;
    /* color: #ff4951; */
    background-size: cover;
    height: 500px;

    vertical-align: middle;
    cursor: pointer;
    /* box-shadow: 2px 2px 5px #ff4951; */

    border-radius: 10px;

    margin-top: 20px;
}
@keyframes blur-section { 
    from { 
        filter: blur(0);
        margin-top: 20px;
    } to { 
        filter: blur(5px); 
        margin-top: 0px;
    } 
}
#main > div > div:hover {
    filter: blur(5px);
    animation: blur-section 100ms ease-in-out forwards;
}

#main div h1 {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
/* if the 5 divisions have 17% width, the 
   4 margins have to have (100% - 5 * 17%) / 4 */
#design {
    background-image: url(../img/alena-aenami-lines1k.jpg), url(../img/alena-aenami-7p-m-1k.jpg);
    background-size: 30%, 80%;
}
#drawings {
    margin: 0 calc((100% - 5 * 17%) / 4);
    background-image: url(../img/alena-aenami-7p-m-1k.jpg);
}
#illustration {
    margin-left: calc((100% - 5 * 17%) / 4);
    background-image: url(../img/alena-aenami-aenami-lunar.jpg);
}
#photography {
    margin-right: calc((100% - 5 * 17%) / 4);
    background-image: url(../img/alena-aenami-quiet-1px.jpg);
}
#writing {
    background-image: url(../img/alena-aenami-cold-1k.jpg);
}

/* #about {
    background-color: chartreuse;
    margin: auto;
    width: calc(100% - 100px);
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 25px;
}

#about * {
    display: inline-block;
    background-color: black;
    color: white;
    margin: auto;
    height: 50px;
    vertical-align: middle;
}
#about img {
    width: 30px;
    background-color: white;
    background-image: url('../img/gap.png');
    background-size: cover;
}
#about p {
    width: calc((100% - 30px) / 2);
    text-align: center;
}
#about p span {
    margin-top: -5px;
    height: 10px;
} */

.main-content {
    padding-top: 60px; /*148 header height + 20*/
}
.has-bottom-border {
    border-bottom: rgb(64, 130, 53) solid 5px;
}


@keyframes disappearAnimation { from { opacity: 1; } to { opacity: 0; } }
@keyframes appearAnimation { from { opacity: 0; } to { opacity: 1; } }
.retract {
    opacity: 0;
    animation-name: disappearAnimation;
    animation-duration: 200ms;
    background-color: none;
}
.extend {
    opacity: 1;
    animation: appearAnimation 200ms;
}

/* Everyhing to do with blurrung, (dis)appearing on all pages */
.hide {
    display: none;
    opacity: 0;
}
.disappearing {
    opacity: 0;
    animation-name: disappearAnimation;
    animation-duration: 300ms;
}
.appearing {
    opacity: 1;
    animation-name: appearAnimation;
    animation-duration: 300ms;
}
@keyframes blurAnimation {
    from { 
        filter: blur(0px); 
    } to { 
        filter: blur(20px); 
    }
}
@keyframes unblurAnimation {
    from { 
        filter: blur(20px); 
    } to { 
        filter: blur(0px); 
    }
}
.blur {
    filter: blur(20px);
    animation-name: blurAnimation;
    animation-duration: 300ms;
}
.unblur {
    filter: blur(0px);
    animation-name: unblurAnimation;
    animation-duration: 300ms;
}
