@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

html { 
    color: red;
}

* {
    margin: 0;
}

header {
    background-color: white;
    display: block;
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    vertical-align: center;
}

header div:first-child {
    float: left;
}

/* burger menu left-hand side */
header div:first-child img {
    height: 15px;
    background-color: white;
    display: inline;
    padding-top: calc((60px - 15px) / 2); /* size logo - size burgermenu */
    padding-bottom: calc((60px - 15px) / 2);
    margin: 0 10px 0 10px;
}
header div:first-child h1 {
    font-size: 20px;
    height: 100%;
    padding-top: 16px;
    float: right;
}

header img {
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    display: block;
    padding: 10px 0 10px 0;
}

header div:last-child {
    float: right;
}

header p, header h1 {
    font-size: 10px;
}
