@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

* {
    margin: 0;
}

header {
    background-color: lightcoral;
    display: block;
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    vertical-align: center;
}

header div:first-child {
    float: left;
}

/* burger menu left-hand side */
header div:first-child img {
    height: 15px;
    background-color: white;
    display: inline;
    padding-top: calc((60px - 15px) / 2); /* size logo - size burgermenu */
    padding-bottom: calc((60px - 15px) / 2);
    margin: 0 10px 0 10px;
}
header div:first-child h1 {
    font-size: 20px;
    height: 100%;
    padding-top: 16px;
    float: right;
}
header img {
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    display: block;
    padding: 10px 0 10px 0;
}
#number {
    float: right;
    font-size: 10px;
    margin-top: -43px;
    margin-right: 10px;
}
#number div p {
    font-size: 20px;
    margin: 0 0 0 4px;
}
#number * {
    display: inline;
    font-family: 'Source Sans Pro', sans-serif;
}



#heading {
    background-color: lightblue;
    font-family: 'Trebuchet MS', sans-serif;
    text-align: center;
  
}
#heading * {
    width: 80%;
    display: block;
    margin: 0 auto;
}

footer {
    font-family: 'Trebuchet MS', sans-serif;
    background-color: lightgreen;
    text-align: center;
}
footer img {
    height: 50px;
    background-color: black;
    border-radius: 25px;
    margin: 5px;
}
footer div p {
    display: inline-block;
    padding: 10px 5%;
    border-top: 1px solid black;    
}

#facebook:hover {
    background-color: #3B5998;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}
#instagram:hover {
    background-color: #DD2A7B;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}
#twitter:hover {
    background-color: #1da1f2;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}
#youtube:hover {
    background-color: #ff0000;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

#love {
    color: red;
}
#madewith {
    float: right;
    margin: 0;
    overflow: hidden;
}