/* Stylesheet that contains all rules relating to the main menu */

#menu {
    z-index: 10;
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(135deg, rgba(20, 18, 63, 0.9), rgba(7, 10, 25, 0.9)); /* dark purple, Verlauf, später?*/
    color: white;
}
#menu-heading {
    /*background-color: red;*/
    width: 50%;
}
#menu-options  {
    width: 50%;
}



#menu-heading, #menu-options {
    margin-left: auto;
    margin-right: auto;


    /*transform: translate3d()*/
}


@keyframes heading-expanding {
    0% {
        letter-spacing: 2px;
        margin-left: 10px;
        font-size: 50px;
        /* color: #da4167; */
    } 50% {
        letter-spacing: 5px;
        margin-left: 15px;
        font-size: 55px;
        /* color: purple; */
    } 100% {
        letter-spacing: 2px;
        margin-left: 10px;
        font-size: 50px;
        /* color: #da4167; */
    }
}
@keyframes img-expanding {
    /* +5 px, wie font */
    0% { height: 55px; } 50% { height: 60px; } 100% { height: 55px; }
}
#menu-heading {
    margin-top: 100px;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
}
#menu-heading div {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
#menu-heading div * {
    display: inline;
}
#menu-heading div h1 {
    animation: heading-expanding 15s forwards infinite;
    letter-spacing: 2px;
    margin-left: 10px;

    
    border-top: 3px solid #ff4951;
    border-bottom: 3px solid #ff4951;
}
#menu-heading div img {
    height: 60px;
    animation: img-expanding 15s forwards infinite;
}

@keyframes optionsOnHover {
    from { font-size: 20px; } to { font-size: 23px; }
}

#menu-options {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
}
#menu-options div p {
    display: flex;
    justify-content: center;
    cursor: pointer;

    margin-top: 10px;
    font-size: 20px;
}
#menu-options div p:hover {
    font-size: 23px;
    /* animation: optionsOnHover 300ms ease-out; */
}
#menu-options div p span {
    display: flex;
    justify-content: center;

    margin-top: 10px;
    font-size: 20px;
    z-index: -3;
}

/**** Animation classes ****/

/* letters changing on mouse over */
@keyframes letter-changing {
    0% { 
        color: white;
        letter-spacing: 0px;
    } 50% { 
        color: #ff4951;
        letter-spacing: 1px;
    } 100% { 
        color: white; 
        letter-spacing: 0px;
    }
}
.letter-changed { animation: letter-changing 400ms; }

/* menu coming down when button clicked */
@keyframes menu-comes-down { from { margin-top: -300px; } to { margin-top: 100px; } }
.down { animation: menu-comes-down 200ms; }




