/* smaller screens like notebooks, kleiner 1200, größer ... */
@media only screen and (max-width: 1200px) {
   #eyecatcher h1 {
       font-size: 30px;
   }
   #eyecatcher p {
       font-size: 18px;
   }
   #welcome-text button {
       padding: 5px;
       font-size: 9px;
   }


}



/* screens like smartphone screens */
@media only screen and (max-width: 468px) {
    #eyecatcher-background {
        display: none;
    }
}