/* smaller screens like notebooks, kleiner 1200, größer ... */


/* LESEN: https://mediag.com/blog/popular-screen-resolutions-designing-for-all/ */



@media only screen and (max-width: 1200px) and (min-width: 800px) {
    #welcome-text-wrapper { 
        width: 30%; 
        margin-top: 25px;
    }
   #welcome-text h1 {
       font-size: 30px;
   }
   #welcome-text p {
       font-size: 18px;
   }
   #welcome-text button {
       padding: 10px;
       font-size: 12px;
   }
   #brain, #rain {
       font-size: 80px !important;
   }
   #brain {
       top: 275px;
       right: 70px;
   }
   #rain {
       top: 320px;
       right: 40px;
   }
   #num {
       font-size: 40px;
       top: 400px;
       right: 250px;
   }
   #eyecatcher-logo{
       height: 150px !important;
       right: 280px;
       top: 280px;
   }


   .topic-panel {
       font-size: 10px;
   }
}



/* screens like smartphone screens */
@media only screen and (max-width: 799px) {
    body, header {
        min-width: 350px;
    }

    #header-options {
        display: none;
    }
    #eyecatcher { 
        position: relative;
        background-image: linear-gradient(to bottom, rgb(7, 10, 25), rgb(8, 7, 25) 90%, rgb(20, 18, 63));
    }
    #eyecatcher-background {
        display: none;
    }
    #welcome-text-wrapper {
        /* display: none; */

        width: 100%;
        margin: 0;
        background-color: white;
        position: relative;
    }
    #welcome-text {
        position: relative;
        background-color: white;
        width: calc(100% - 100px);
        margin: 0 auto;
        position: relative;
    }
    #welcome-text-wave {
        display: block;
        z-index: 2;
        position: relative;
        width: 100%;
        filter: drop-shadow(3px 3px 3px cornflowerblue);
        
        margin-bottom: 300px;
    }
    #welcome-text button {
        margin-bottom: 20px;
    }
    #brain, #rain, #num, #eyecatcher-logo {
        position: absolute;
        top: auto;
    }
    #brain {
        bottom: 270px;
        right: 10%;
    }
    #rain {
        bottom: 200px;
        right: 5%;
    }
    #num {
        bottom: 150px;
        left: 30%;
    }
    #eyecatcher-logo {
        bottom: 200px;
        left: 5%;
    }


    .topic-panel {
        display: block;
        width: 100% !important;
        margin: 0px 0px 10px 0px !important;
        height: 100px !important;
    }
}